<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rharriso.minstrel"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- db stuffs, active android -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="Minstrel.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <activity
            android:name="com.rharriso.minstrel.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.rharriso.minstrel.ArtistsActivity"
            android:label="@string/title_activity_artists" >
        </activity>
        <activity
            android:name="com.rharriso.minstrel.BookmarkListActivity"
            android:label="@string/title_activity_bookmarks" >
        </activity>
        <activity
            android:name="com.rharriso.minstrel.AlbumsActivity"
            android:label="@string/title_activity_albums" >
        </activity>
        <activity
            android:name="com.rharriso.minstrel.TracksActivity"
            android:label="@string/title_activity_tracks" >
        </activity>
        <activity
            android:name="com.rharriso.minstrel.PlayerActivity"
            android:label="@string/title_activity_player" >
        </activity>

        <service
            android:name="com.rharriso.minstrel.AudioPlayerService"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>